.userform {
     color: rgb(129, 129, 129);
     width: 100%;

     input{
          border: 1px solid grey;
          border-radius: 3px;
          padding: .5rem 1rem;
          margin-bottom: .5rem;
          width: 100%;
     }
}
.form-controls{
     width: 100%;
}

.btn{
     padding: 1em 3rem;
     background-color: rgb(126, 16, 53);
     color: white;
     font-size: 16px;
     border: none;
     border-radius: 3px;
     cursor: pointer;
}